In [18]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name" ])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [100]:
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [88]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [52]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [53]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [54]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [102]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [104]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = passing_reading_count  / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [105]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [127]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], 
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score], 
                                 "Average Reading Score":[average_reading_score], 
                                 "% Passing Math":[passing_math_percentage],
                                   "% Passing Reading":[passing_reading_percentage],
                                 "% Overall Passing":[overall_passing_rate]})


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [131]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])

school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [160]:
# Calculate the total student count per school from school_data
per_school_counts = pd.DataFrame(school_data_complete["school_name"].value_counts())
per_school_counts

                       count
school_name
Bailey High School      4976
Johnson High School     4761
Hernandez High School   4635
Rodriguez High School   3999
Figueroa High School    2949
Huang High School       2917
Ford High School        2739
Wilson High School      2283
Cabrera High School     1858
Wright High School      1800
Shelton High School     1761
Thomas High School      1635
Griffin High School     1468
Pena High School         962
Holden High School       427

In [164]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = pd.DataFrame(school_data.set_index(["school_name"])["budget"])
per_school_capita = pd.DataFrame(list(zip(school_data["school_name"], school_data["budget"]/school_data["size"])),
                                 columns= ["School_name", "Budget Per Capita"] )
per_school_budget

                        budget
school_name
Huang High School      1910635
Figueroa High School   1884411
Shelton High School    1056600
Hernandez High School  3022020
Griffin High School     917500
Wilson High School     1319574
Cabrera High School    1081356
Bailey High School     3124928
Holden High School      248087
Pena High School        585858
Wright High School     1049400
Rodriguez High School  2547363
Johnson High School    3094650
Ford High School       1763916
Thomas High School     1043130

In [ ]:
# Calculate the average test scores per school from school_data_complete
per_school_math = com
per_school_reading =