In [18]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name" ])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [100]:
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [88]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [52]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [53]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [54]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [102]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [104]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = passing_reading_count  / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [105]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [127]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], 
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score], 
                                 "Average Reading Score":[average_reading_score], 
                                 "% Passing Math":[passing_math_percentage],
                                   "% Passing Reading":[passing_reading_percentage],
                                 "% Overall Passing":[overall_passing_rate]})


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [255]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [339]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [364]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]


per_school_capita = per_school_budget / per_school_counts

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [368]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].sum() / per_school_counts
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].sum() / per_school_counts

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [295]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

In [294]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >=  70] 
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

In [278]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [279]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [291]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
list_of_headers = [school_types, per_school_counts, per_school_budget,
                   per_school_capita, per_school_math, per_school_reading,
                   passing_math_percentage, passing_reading_percentage, overall_passing_rate]

per_school_summary = school_types.copy()

for i in range(0,len(list_of_headers[1:])):
    per_school_summary = pd.merge(per_school_summary, list_of_headers[i], "left", on="school_name",sort='True')

#per_school_summary = pd.merge(school_types, per_school_counts, "left", on="school_name",sort='True')
    
# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

[                       count
 school_name
 Bailey High School      4976
 Johnson High School     4761
 Hernandez High School   4635
 Rodriguez High School   3999
 Figueroa High School    2949
 Huang High School       2917
 Ford High School        2739
 Wilson High School      2283
 Cabrera High School     1858
 Wright High School      1800
 Shelton High School     1761
 Thomas High School      1635
 Griffin High School     1468
 Pena High School         962
 Holden High School       427,
                         budget
 school_name
 Huang High School      1910635
 Figueroa High School   1884411
 Shelton High School    1056600
 Hernandez High School  3022020
 Griffin High School     917500
 Wilson High School     1319574
 Cabrera High School    1081356
 Bailey High School     3124928
 Holden High School      248087
 Pena High School        585858
 Wright High School     1049400
 Rodriguez High School  2547363
 Johnson High School    3094650
 Ford High School       1763916
 Thomas High School     1043130,
               School_name  Budget Per Capita
 0       Huang High School              655.0
 1    Figueroa High School              639.0
 2     Shelton High School              600.0
 3   Hernandez High School              652.0
 4     Griffin High School              625.0
 5      Wilson High School              578.0
 6     Cabrera High School              582.0
 7      Bailey High School              628.0
 8      Holden High School              581.0
 9        Pena High School              609.0
 10     Wright High School              583.0
 11  Rodriguez High School              637.0
 12    Johnson High School              650.0
 13       Ford High School              644.0
 14     Thomas High School              638.0,
               school_name  Average Math Score
 0       Huang High School           76.629414
 1    Figueroa High School           76.711767
 2     Shelton High School           83.359455
 3   Hernandez High School           77.289752
 4     Griffin High School           83.351499
 5      Wilson High School           83.274201
 6     Cabrera High School           83.061895
 7      Bailey High School           77.048432
 8      Holden High School           83.803279
 9        Pena High School           83.839917
 10     Wright High School           83.682222
 11  Rodriguez High School           76.842711
 12    Johnson High School           77.072464
 13       Ford High School           77.102592
 14     Thomas High School           83.418349,
              schoool_name  Average Reading Score
 0       Huang High School              81.182722
 1    Figueroa High School              81.158020
 2     Shelton High School              83.725724
 3   Hernandez High School              80.934412
 4     Griffin High School              83.816757
 5      Wilson High School              83.989488
 6     Cabrera High School              83.975780
 7      Bailey High School              81.033963
 8      Holden High School              83.814988
 9        Pena High School              84.044699
 10     Wright High School              83.955000
 11  Rodriguez High School              80.744686
 12    Johnson High School              80.966394
 13       Ford High School              80.746258
 14     Thomas High School              83.848930,
 74.9808526933878,
 85.80546336482001,
                        Bailey High School  Cabrera High School  \
 school_name
 Bailey High School                    NaN                  NaN
 Johnson High School                   NaN                  NaN
 Hernandez High School                 NaN                  NaN
 Rodriguez High School                 NaN                  NaN
 Figueroa High School                  NaN                  NaN
 Huang High School                     NaN                  NaN
 Ford High School                      NaN                  NaN
 Wilson High School                    NaN                  NaN
 Cabrera High School                   NaN                  NaN
 Wright High School                    NaN                  NaN
 Shelton High School                   NaN                  NaN
 Thomas High School                    NaN                  NaN
 Griffin High School                   NaN                  NaN
 Pena High School                      NaN                  NaN
 Holden High School                    NaN                  NaN

                        Figueroa High School  Ford High School  \
 school_name
 Bailey High School                      NaN               NaN
 Johnson High School                     NaN               NaN
 Hernandez High School                   NaN               NaN
 Rodriguez High School                   NaN               NaN
 Figueroa High School                    NaN               NaN
 Huang High School                       NaN               NaN
 Ford High School                        NaN               NaN
 Wilson High School                      NaN               NaN
 Cabrera High School                     NaN               NaN
 Wright High School                      NaN               NaN
 Shelton High School                     NaN               NaN
 Thomas High School                      NaN               NaN
 Griffin High School                     NaN               NaN
 Pena High School                        NaN               NaN
 Holden High School                      NaN               NaN

                        Griffin High School  Hernandez High School  \
 school_name
 Bailey High School                     NaN                    NaN
 Johnson High School                    NaN                    NaN
 Hernandez High School                  NaN                    NaN
 Rodriguez High School                  NaN                    NaN
 Figueroa High School                   NaN                    NaN
 Huang High School                      NaN                    NaN
 Ford High School                       NaN                    NaN
 Wilson High School                     NaN                    NaN
 Cabrera High School                    NaN                    NaN
 Wright High School                     NaN                    NaN
 Shelton High School                    NaN                    NaN
 Thomas High School                     NaN                    NaN
 Griffin High School                    NaN                    NaN
 Pena High School                       NaN                    NaN
 Holden High School                     NaN                    NaN

                        Holden High School  Huang High School  \
 school_name
 Bailey High School                    NaN                NaN
 Johnson High School                   NaN                NaN
 Hernandez High School                 NaN                NaN
 Rodriguez High School                 NaN                NaN
 Figueroa High School                  NaN                NaN
 Huang High School                     NaN                NaN
 Ford High School                      NaN                NaN
 Wilson High School                    NaN                NaN
 Cabrera High School                   NaN                NaN
 Wright High School                    NaN                NaN
 Shelton High School                   NaN                NaN
 Thomas High School                    NaN                NaN
 Griffin High School                   NaN                NaN
 Pena High School                      NaN                NaN
 Holden High School                    NaN                NaN

                        Johnson High School  Pena High School  \
 school_name
 Bailey High School                     NaN               NaN
 Johnson High School                    NaN               NaN
 Hernandez High School                  NaN               NaN
 Rodriguez High School                  NaN               NaN
 Figueroa High School                   NaN               NaN
 Huang High School                      NaN               NaN
 Ford High School                       NaN               NaN
 Wilson High School                     NaN               NaN
 Cabrera High School                    NaN               NaN
 Wright High School                     NaN               NaN
 Shelton High School                    NaN               NaN
 Thomas High School                     NaN               NaN
 Griffin High School                    NaN               NaN
 Pena High School                       NaN               NaN
 Holden High School                     NaN               NaN

                        Rodriguez High School  Shelton High School  \
 school_name
 Bailey High School                       NaN                  NaN
 Johnson High School                      NaN                  NaN
 Hernandez High School                    NaN                  NaN
 Rodriguez High School                    NaN                  NaN
 Figueroa High School                     NaN                  NaN
 Huang High School                        NaN                  NaN
 Ford High School                         NaN                  NaN
 Wilson High School                       NaN                  NaN
 Cabrera High School                      NaN                  NaN
 Wright High School                       NaN                  NaN
 Shelton High School                      NaN                  NaN
 Thomas High School                       NaN                  NaN
 Griffin High School                      NaN                  NaN
 Pena High School                         NaN                  NaN
 Holden High School                       NaN                  NaN

                        Thomas High School  Wilson High School  \
 school_name
 Bailey High School                    NaN                 NaN
 Johnson High School                   NaN                 NaN
 Hernandez High School                 NaN                 NaN
 Rodriguez High School                 NaN                 NaN
 Figueroa High School                  NaN                 NaN
 Huang High School                     NaN                 NaN
 Ford High School                      NaN                 NaN
 Wilson High School                    NaN                 NaN
 Cabrera High School                   NaN                 NaN
 Wright High School                    NaN                 NaN
 Shelton High School                   NaN                 NaN
 Thomas High School                    NaN                 NaN
 Griffin High School                   NaN                 NaN
 Pena High School                      NaN                 NaN
 Holden High School                    NaN                 NaN

                        Wright High School  count
 school_name
 Bailey High School                    NaN    NaN
 Johnson High School                   NaN    NaN
 Hernandez High School                 NaN    NaN
 Rodriguez High School                 NaN    NaN
 Figueroa High School                  NaN    NaN
 Huang High School                     NaN    NaN
 Ford High School                      NaN    NaN
 Wilson High School                    NaN    NaN
 Cabrera High School                   NaN    NaN
 Wright High School                    NaN    NaN
 Shelton High School                   NaN    NaN
 Thomas High School                    NaN    NaN
 Griffin High School                   NaN    NaN
 Pena High School                      NaN    NaN
 Holden High School                    NaN    NaN  ]